body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.admin-dashboard {
    background-color: #fff;
    width: 70%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-dashboard h1 {
    color: #333;
    font-size: 28px;
}

.admin-dashboard p {
    font-size: 18px;
    color: #666;
}

.admin-dashboard a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.admin-dashboard a:hover {
    background-color: #0056b3;
}
